.contentholder--bright1 {
    background-color:$colour3;
    color:$white1;

    a {
        color: $colour1;
        font-weight: bold;
    }
}

.contentholder--bright2 {
    background-color:$colour2;
    color:$white1;

    a {
        color: $colour1;
        font-weight: bold;
    }
}

.contentholder--bright3 {
    background-color:$light1;

    a {
        color: $colour2;
    }
}

.contentholder--bright4 {
    background-color: $colour1;
}

.contentholder--flag {
    background-color: $colour1;
    padding: 1em;
    margin-bottom: 1em;
}

.contentholder--flag:before {
    content: "\01F6A9";
}



.contentholder--bgborder {
    padding: 1em;
    background: $colour1;
    -moz-box-shadow: 7px 7px 0px darken($colour1, 15%);
    -webkit-box-shadow: 7px 7px 0px darken($colour1, 15%);
    box-shadow: 7px 7px 0px darken($colour1, 15%);

    .textlist--subtitle {
        margin-top:1em;
        color: white;
    }

    .textlist--date {
        font-weight: bold;
        color: white;
    }

    a {
        color: $colour2;

        button {
            border-color: white;
            color: white;
            background-color: $colour2;
        }
    }


}
