.logo__link {
        text-decoration: none;
}

.logo--gradient {
    text-align: center;

    .logo--text {
        font-family: 'Satisfy', sans-serif;
        font-size: 7em;
        font-weight: 800;
        letter-spacing: -0.3rem;
        color: white;
        mix-blend-mode:difference;
        display: inline-block;
    }
}
