{{ partial "base" . }}

<div class="wrapper wrapper-nogap">
    {{ partial "sidebar" . }}

    <article class="content">

        <div class="promo">
            <h1 class="test">History</h1><br />
            <p class="subtitle">A summary of key roles and events in my career to date</p>
        </div>

        <div class="container">

            <div class="history u-cf">

                <div class="history__job colour2">
                    <div class="history__jobdate"><span></span>10/20 – Beyond!</div>
                    <div class="history__jobdescription">
                        <h3>Head of Engineering</h3>
                        <h4>Farewill</h4>
                        <p class="history__jobcontent">
                        After taking a summer break, from October I'll be joining <a href="https://farewill.com">Farewill</a> as Head of Engineering, taking responsibility for the company's team of engineering managers and engineers.</p>
                    </div>
                </div>

                <div class="history__job colour3">
                    <div class="history__jobdate"><span></span>12/18 – 07/20</div>
                    <div class="history__jobdescription">
                        <h3>Senior Engineering Manager*</h3>
                        <h4>Monzo</h4>
                        <p class="history__jobcontent">
                            <p class="history__jobcontent">At <a href="https://monzo.com">Monzo</a> I was responsible for scaling engineering within the COps Collective, which then grew into Operations Collective (covering our customer support, financial crime, and more. I was also discipline lead for web across the company.</p>
                            
                            <p class="history__jobcontent">My line of management in Operations included 4 other engineering managers (some also managed managers), and around 40 engineers, split across multidisciplinary squads. Other responsibilities included:</p>
                            
                            <p class="history__jobcontent">👥 Sitting on the leadership team for Ops Collective to represent engineering, alongside the COO, VP Ops etc.<br />
                            👭 Partnering with technical leads, senior engineer, and product managers to help drive technical initiatives, strategic work, and headcount planning.<br />
                            👩🏻‍💻 Line management and coaching of managers and senior IC engineers, focused on their performance, progression, growth, and wellbeing.<br />
                            💼 Contributing to management best practices and initiatives.<br />
                            🕸 Setting strategy for the web at Monzo.<br />
                            🙌🏽 Leading hiring for the web, including aiming to attract and hire high potential team members from diverse backgrounds.<br />
                            😬 Risk and compliance responsibilities.</p>
                            
                            <p class="history__jobcontent">Some of the work that I'm most proud of includes proposing and starting up new teams (Web Platform and Web Consultancy), leading the  delivery of redeveloping the engineering progression framework, and helping to scale our engineering function and its culture to support the company reaching over 4.2 million customers.</p>
                            <p class="history__jobcontent">* note that this was a Director-level position, not reflected by my title because of internal freezes.</p>
                    </div>
                </div>
                <div class="history__job colour1">
                    <div class="history__jobdate"><span></span>03/14 – 01/19</div>
                    <div class="history__jobdescription">
                        <h3>Consultant &amp; Director</h3>
                        <h4>Records Sound the Same Ltd</h4>
                        <p class="history__jobcontent">Through my company I worked as a consultant on strategic and digital transformation projects.</p>
                        <p class="history__jobcontent">The work involved a real mix, but included things like: research, discovery, and requirements gathering; assessing systems and processes for areas of improvement; helping to change culture; setting strategy, defining roadmaps; running workshops, coaching and teaching skills. I aimed to improve user experiences as well as balancing these with business needs, and making sure that technical conversations could be understood by everyone in a business.</p>
                        <p class="history__jobcontent">Clients included <a href="http://manorracing.com/">Manor Racing</a> F1 team,
                        <a href="https://rnli.org/">RNLI</a>,
                        <a href="http://hotelplan.com/">Hotelplan</a> (Inghams, Ski Total),
                        <a href="http://www.henley-cov.ac.uk/">Henley College Coventry, </a><a href="https://patchworkit.com/">Patchwork</a>, and more.</p>
                    </div>
                </div>

                <div class="history__job colour2">
                    <div class="history__jobdate"><span></span>01/13 – 2015</div>
                    <div class="history__jobdescription">
                        <h3>Contract Digital Solutions Architect</h3>
                        <h4>Accenture Digital, Ostmodern, Precedent, Coast Digital</h4>
                        <p class="history__jobcontent">
                        After leaving the world of full-time employment, I initially spent a period of time contracting with other digital agencies in order to gain broad exposure to different technologies and practices, balancing this with my direct clients in between.</p>
                        <p class="history__jobcontent">Projects included the BBC, BT, UTV, Survivors UK, David Lloyd Leisure, The MS Society, SSE.</p>
                    </div>
                </div>

                <div class="history__job colour3">
                    <div class="history__jobdate"><span></span>12/11 – 12/12</div>
                    <div class="history__jobdescription">
                        <h3>Head of Technology</h3>
                        <h4>Lightmaker UK</h4>
                        <p class="history__jobcontent">
                        As Head of Technology at Lightmaker UK my primary responsibilities included setting the technical direction and strategy for the company, management of the development team, assisting with high level project direction, offering technical strategy and consultancy services, and working alongside our Sales and Marketing team for pitches and RFPs.</p>
                        <p class="history__jobcontent">
                        I also worked closely with our partners (Adobe, Microsoft, AWS, NTT Europe Online, Rackspace, Akamai, Sitecore) in order to forge relationships which would benefit our clients.</p>
                        <p class="history__jobcontent">
                        I was able to work with some great clients on some fantastic projects. These include Electronic Arts, D-Link, Eurotunnel, Nokia, Royal Bank of Scotland, The R&amp;A, Phaidon Press, JK Rowling, Disney Interactive Studios, Innocent Drinks, Manchester United, Fulham FC, Chelsea FC, Sony Entertainment, Pitcher &amp; Piano, the British Blood Transfusion Society, The FA, The LTA, Yamaha, Mondial Insurance, NHSBT, National Galleries of Scotland, and the COI - to name but a few.</p>
                    </div>
                </div>

                <div class="history__job colour3">
                    <div class="history__jobdate"><span></span>07/09 – 12/11</div>
                    <div class="history__jobdescription">
                        <h3>Technical/Solutions Architect</h3>
                        <h4>Lightmaker UK</h4>
                        <p class="history__jobcontent">
                        Reporting directly to the Managing Director, I was responsible for the architecture and documentation of solutions and processes, training, direct management of full time developers (spanning front-end, back-end, native app, and Flash), business/technical strategy, training, technical sales, and some project development work.
                        </p>
                    </div>
                </div>

                <div class="history__job colour3">
                    <div class="history__jobdate"><span></span>04/09 – 07/09</div>
                    <div class="history__jobdescription">
                        <h3>Head Developer</h3>
                        <h4>Lightmaker UK</h4>
                        <p class="history__jobcontent">Promotion from Lead Developer role, continuation and extension of responsibilities.</p>
                    </div>
                </div>

                <div class="history__job colour3">
                    <div class="history__jobdate"><span></span>09/08 – 04/09</div>
                    <div class="history__jobdescription">
                        <h3>Lead Developer</h3>
                        <h4>Lightmaker UK</h4>
                        <p class="history__jobcontent">Promotion from Developer role, continuation and extension of responsibilities.</p>
                    </div>
                </div>

                <div class="history__job colour3 end">
                    <div class="history__jobdate"><span></span>05/05 – 09/08</div>
                    <div class="history__jobdescription">
                        <h3>Developer</h3>
                        <h4>Lightmaker UK</h4>
                        <p class="history__jobcontent">
                        As Developer through to Head Developer at Lightmaker I was responsible for creating and maintaining websites for clients including Electronic Arts, NHSBT, Manchester United, Innocent Drinks, J.K. Rowling, London 2012, LTA, David Beckham Academy, Phaidon Press, Pitcher &amp; Piano and Business Link.
                        </p>
                        <p class="history__jobcontent">Development work involved using bespoke and third party CMS products, implementing ecommerce solutions,
                        and API integrations. I was very client-facing, often attending meetings for requirements gathering or to discuss potential solutions. Pitches were also occasionally attended, and CMS training sessions were given.</p>
                        <p class="history__jobcontent">My development experience in these roles spanned a variety of technologies, and included HTML, CSS,
                        JavaScript/jQuery, ColdFusion, PHP, Classic ASP, C# ASP.NET, Flex, Flash AS2/3, XML, Oracle, MS SQL Server, MySQL. I worked with analytics technologies including Adobe Omniture SiteCatalyst (writing a paper for Electronic Arts regarding best practices for their custom implementation) and Google Analytics.</p>
                    </div>
                </div>

            </div><!-- end timeline -->
        </div><!-- end container -->

        <div class="flexbox-container">
            <div class="contentholder--bright1">

                <h2>Awards & certification</h2>

<p class="textlist--header">Women in FinTech Powerlist (Standout 35) - March 2020</p>
<p class="textlist--subtitle">Selected as one of the Technology Professionals for Innovate Finance's <a href="https://www.innovatefinance.com/womeninfintech/powerlist-2019">2019 Powerlist</a>, as well as being chosen for the ‘Standout 35’ distinction by a panel of independent judges.</p>

<p class="textlist--header">JLPT N4 - December 2018</p>
<p class="textlist--subtitle">Japanese Language Proficiency Test, internationally recognised certification of Japanese language proficiency for non-native speakers</p>

<p class="textlist--header">JLPT N5 - July 2018</p>
<p class="textlist--subtitle">As above</p>

<p class="textlist--header">Finalist - DevelopHER Awards 2016</p>
<p class="textlist--subtitle">Finalist in the Entrepreneur category</p>

<p class="textlist--header">ODI Individual Supporter - 2015</p>
<p class="textlist--subtitle">The UK Open Data Institute</p>

<p class="textlist--header">Open Data in a Day course - 2014</p>
<p class="textlist--subtitle">Run by the Open Data Institute</p>

<p class="textlist--header">Adobe Community Professional - 2011, 2012, 2013, 2014</p>
<p class="textlist--subtitle">One of a select few hundred individuals recognised globally for their expertise</p>

<p class="textlist--header">Google Analytics Platform Principles - 2014</p>
<p class="textlist--subtitle">Google Analytics Academy course</p>

<p class="textlist--header">Sitecore Certified Sales Course - June 2009, 2012</p>
<p class="textlist--subtitle">Sitecore CMS official training course</p>

<p class="textlist--header">NMA Effectiveness Award - 2009</p>
<p class="textlist--subtitle">Entertainment Category - EA Spore. Worked on the project as Head Developer at Lightmaker UK</p>

<p class="textlist--header">Interactive Media Awards™ - 2009</p>
<p class="textlist--subtitle">Winner of 'Best in Class' - Games Industry category with Lightmaker UK and the Electronic Arts 'Spore' website - worked on the project as Head Developer</p>
            </div>
        </div>

    </article>
</div>

{{ partial "footer" . }}
