<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>{{ .Title }} | Sally Lait</title>
    <meta name="description" content="{{ .Description }}">
    <meta name="author" content="Sally Lait">
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <!--TODO remove what isn't needed -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,600i,700|Satisfy|Montserrat:400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/css/master.css">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sjenkinson" />
    <meta name="twitter:creator" content="@sjenkinson" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}Personal site of Sally Lait{{ end }}" />
    <meta property="og:image" content="https://sallylait.com{{ if .Params.headerimg }}{{ .Params.headerimg }}{{ else }}/img/favicons/favicon-196x196.png{{ end }}" />

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/favicons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicons/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-128x128.png" sizes="128x128" />
    <meta name="application-name" content="Sally"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/img/favicons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/img/favicons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/img/favicons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/img/favicons/mstile-310x310.png" />
    <meta name="theme-color" content="#f6bfad">
    <link rel="manifest" href="/manifest.json?v=s1.01">
    <link href="/blog/index.xml" rel="alternate feed" type="application/rss+xml" title="Blog RSS" />
    <meta name="p:domain_verify" content="971425b2e6b04c45882c8d8017a5ccbc"/>

</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-2631465-7', 'auto');
  ga('send', 'pageview');
</script>
