
<footer>
    <p class="smallprint">&copy; Sally Lait {{ now.Year }} | Important <a href="/cookies/">cookie policy</a> &#x1F36A</p>
</footer>

<script src="/js/main.js" defer="defer"></script>
<script>
/* Remove until I've stopped messing around with the layout
if('serviceWorker' in navigator) {
    navigator.serviceWorker
        .register('/sw.js', { scope: '/' })
        .then(function(registration) {
            console.log('Service Worker has been registered');
        });

    navigator.serviceWorker
        .ready
        .then(function(registration) {
            console.log('Service Worker is now ready');
        });
}*/
</script>

</body>
</html>
