{{ partial "base" . }}

<div class="wrapper">
    {{ partial "sidebar" . }}
    <article class="content">

        <section style="background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url('/img/downasaur.jpg') #589ec9 no-repeat center; background-size: cover; min-height: 400px;">
            <div class="large-article-header" >
                <div class="large-article-header-content">
                    <div class="row">
                        <div class="article-title">
                            <h1>{{ .Title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="blog__contentholder">
            <h2>You're offline</h2>
            <p>Luckily you've been here before, so through the magic of &#x2728; JavaScript and Service Workers &#x2728; we'll try to show you what we've already got saved, but to see the rest please find a connection later on.</p>
            {{ .Content }}
        </div>

    </article>
</div>

{{ partial "footer" . }}
