{{ partial "base" . }}

<div class="wrapper wrapper-nogap">
    {{ partial "sidebar" . }}
    <article class="content">

        <div class="promo" style="background: url('/img/promo-sj4.jpg') #6BBCB6 no-repeat center; background-size: cover;">
        </div>
        <div class="contentholder--bright2" style="padding:2em; margin:-2em 2em 2em 2em;">
            <h1 class="test">About me</h1>
            <p class="subtitle" style="font-size: 2.441rem;">My name's Sally Lait (formerly Jenkinson). It's pronounced like 'late', not like 'lay', by the way.</p>
            <p class="subtitle" style="font-size: 2.441rem;">I’m currently working as <b></b>Engineering Director for Trust and Safety at Bumble Inc.</b> This is a bit about what I do professionally, and how I got here.</p>
        </div>

        <div class="container">
            {{ .Content }}
        </div>
    </article>
</div>

{{ partial "footer" . }}
