{{ partial "base" . }}

<div class="wrapper">
    {{ partial "sidebar" . }}
    <article class="content">

        <div class="promo" style="background: url('/img/hello.jpg') #6BBCB6 no-repeat center; background-size: cover;">
        </div>
        <div class="contentholder--bright2" style="padding:2em; margin:-2em 2em 2em 2em;">
            <h1 class="test">📣 I'm open to new roles!</h1>
            <p class="subtitle" style="font-size: 2.441rem;">Whilst you can read about my background on the rest of this site, here's a bit more information specifically on my recent work, and what I'd be looking for next.</p>
        </div>

        <div class="container">
            {{ .Content }}
        </div>

    </article>
</div>

{{ partial "footer" . }}
