{{ partial "base" . }}

<div class="wrapper wrapper-nogap">
    {{ partial "sidebar" . }}
    <article class="content">

        <div class="promo">
            <h1>{{ .Title }}</h1><br />
            <p class="subtitle">Here's how to get in touch if you want to know more about my work, ask me to speak at your event, write about something, or just have a question.</p>
        </div>

        <div class="flexbox-container">
        	<div>
                <h2>Say hello</h2>
                <p>I'm generally pretty quick at replying to most messages, but sometimes it'll take me a bit longer. Please bear with me!</p>
                <form name="main-contact" data-netlify="true" netlify-honeypot="rep-field" action="/contact/success/">
                    <label for="contactName">Your name</label>
                    <input type="text" class="u-full-width" name="contact-name" placeholder="Name" id="contactName">

                    <label for="contactEmail">Your email address</label>
                    <input type="email" class="u-full-width" name="contact-email" placeholder="Email" id="contactEmail">

                    <p class="hidden">
                    <label>This one's just for the replicants out there <input name="rep-field" type="text" class="u-full-width" placeholder="Only fill in if you're a replicant" id="replicant"></label>
                    </p>

                    <label for="contactMessage">What would you like to talk about?</label>
                    <textarea name="contact-msg" class="u-full-width" rows="20" placeholder="🤔" id="contactMessage"></textarea>

                    <div class="breathe-bottom" data-netlify-recaptcha></div>

                    <div class="row">
                        <input type="submit" class="button" value="Send" />
                    </div>
                </form>
            </div>
            <div class="contentholder--bright2">
                {{ .Content }}
            </div>
        </div>

    </article>
</div>

{{ partial "footer" . }}
