{{ partial "base" . }}

<div class="wrapper wrapper-nogap">
    {{ partial "sidebar" . }}
    <article class="content">

        <div class="promo">
            <h1>{{ .Title }}</h1>
            <p class="subtitle">Here's how to get in touch if you want to know more about my work, ask me to speak at your event, write about something, or just have a question.</p>
        </div>

        <div class="flexbox-container">
        	<div>
                <h2>Say hello</h2>
                <p>I'm generally pretty quick at replying to most messages, but sometimes if I'm travelling it'll take me a bit longer. Please bear with me, or <a href="https://twitter.com/sallylait">tweet me</a> a nudge if it's urgent!</p>
                <form method="POST" action="http://formspree.io/sally@recordssoundthesame.com">
                    <label for="contactName">Your name</label>
                    <input type="text" class="u-full-width" name="contact-name" placeholder="Name" id="contactName">

                    <label for="contactEmail">Your email address</label>
                    <input type="email" class="u-full-width" name="contact-email" placeholder="Email" id="contactEmail">


                    <label for="contactMessage">What would you like to talk about?</label>
                    <textarea name="contact-msg" class="u-full-width" rows="20" placeholder="A really great project" id="contactMessage"></textarea>
                    <div class="row">
                        <input type="submit" class="button" value="Send" />
                    </div>
                </form>
            </div>
            <div class="contentholder--bright2">
                {{ .Content }}
            </div>
        </div>

    </article>
</div>

{{ partial "footer" . }}
