{{ partial "base" . }}

<div class="wrapper wrapper-nogap">
    {{ partial "sidebar" . }}
    <article class="content">

        <div class="promo">
            <h1>{{ .Title }}</h1><br />
            <p class="subtitle">Here's how to get in touch if you want to know more about my work, ask me to speak at your event, write about something, or just have a question.</p>
        </div>

        <div class="flexbox-container">
        	<div>
                {{ .Content }}
            </div>
            <div class="contentholder--bright2">
                <h3>I’d like to talk about work or speaking. How can I reach you?</h3>
                <p>The best way to get hold of me is either on the form here or my email, which is <b>sally at recordssoundthesame.com</b>. If it's something tiny, <a href="https://mastodon.social/@sally">Mastodon</a> is a good alternative. </p>

                <h3>Where are you based? What happens if my [thing] isn’t near you?</h3>
                <p>I'm based in Suffolk in the east of the UK, around 45 minutes from Colchester train station, an hour from Stansted Airport, and I have my own car. I love to travel, but with a young family I do need to think carefully about the practicalities, so may not be able to do everything.</p>
            </div>
        </div>

    </article>
</div>

{{ partial "footer" . }}
