{{ partial "base" . }}

<div class="wrapper wrapper-nogap">
    {{ partial "sidebar" . }}
    <article class="content">

        <div class="promo">
            <h1>Hello!</h1>
            <p class="subtitle">I'm Sally Lait, a digital transformation consultant based in the UK. This is my personal site and blog.</p>
        </div>

        <div class="flexbox-container">
        	<div class="contentholder--bright1">
                <h2>Overview</h2>
                <p>I work through my small consultancy company, <a href="http://recordssoundthesame.com">Records Sound the Same</a>, where I investigate how digital technologies and the web can help people to do what they do, better.</p>
                <p>I'm also a conference speaker, author, Associate at the Open Data Institute, and I take photos of hotel carpets.</p>
            </div>
        	<div class="contentholder--bright2">
                <h2>What I do</h2>
                <ul>
                    <li>Digital transformation projects</li>
                    <li>Discovery projects</li>
                    <li>Solutions architecture</li>
                    <li>Strategic consultancy</li>
                    <li>Coaching and workshops</li>
                    <li>Conference talks, keynotes, and MCing</li>
                </ul>
                <p>If you'd like to know more about these, please head over to the <a href="http://recordssoundthesame.com">Records Sound the Same</a> site or <a href="/contact/">get in touch</a>.</p>
            </div>
        </div>
        <div class="flexbox-container">
            <div class="contentholder--bright3">
                <h2>Latest blog post</h2>
                {{ partial "recent-posts" . }}
            </div>
        	<div class="contentholder--bright4">
                <h2>Talk highlight</h2>
                <div class="embed__container">
                    <iframe src="https://www.youtube.com/embed/O43HSNzwV88?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </article>
</div>


{{ partial "footer" . }}
