{{ partial "base" . }}

<div class="wrapper wrapper-nogap">
    {{ partial "sidebar" . }}
    <article class="content">

        <div id="promo-time-bg" class="promo">
            <h1 id="greeting">Good morning</h1><br />
            <p class="subtitle">👋🏻 I'm Sally Lait. I work in <b>engineering leadership</b>, am an <b>international speaker</b>, <b>writer</b> for industry publications, and award winner.
            </p>
        </div>

        <script>
                var now = new Date();
                var hours = now.getHours();
                var greettext = document.getElementById('greeting');
                var bg = document.getElementById('promo-time-bg');
    
                var themessage;
                var morning = ('Good morning! <span class="emoji">🌅</span>');
                var afternoon = ('Good afternoon! <span class="emoji">☀️</span>');
                var evening = ('Good evening! <span class="emoji">🌙</span>');
    
                if (hours >= 0 && hours < 12) {
                    themessage = morning;
    
                } else if (hours >= 12 && hours < 17) {
                    themessage = afternoon;
    
                } else if (hours >= 17 && hours < 24) {
                    themessage = evening;
                    bg.style.backgroundImage =  "url('/layout/dots2.png')";
                }
    
                greettext.innerHTML = themessage;
        </script>

        <div class="flexbox-container">
        	<div class="contentholder--bright1">
                <p>👩🏻‍💻 I've spent my career working with digital technologies - agency-side as a developer up to Head of Technology, running a digital transformation consultancy, and Engineering Director/web discipline lead at Monzo. My former work has included projects with the RNLI, Electronic Arts, Sport England, Hotelplan, Nokia, SSE, Fulham FC, and Manor Racing F1 team (amongst others).</p>

                <p>🎤 I've spoken at a wealth of conferences and meetups around the globe - everywhere from the USA, to Europe, and the Far East.</p>
                    
                <p>🏡 At present I live in Suffolk in the UK, where I spend time gaming, gardening, learning 日本語, collecting terrible <a href="https://www.instagram.com/explore/tags/shithotelcarpets/">hotel carpets</a>, cooking, and <a href="https://natsukashii.art">illustrating</a> manhole covers and train stamps.</p>

                <p>🌟 I occasionally take time off to be involved in on small things outside of my day job (for instance I run workshops, and I've helped to curate the Render conference series). If you'd like to speak to me about this or anything else, please <a href="/contact/">say hello</a>!</p>
            </div>

        </div>
        <div class="flexbox-container">
            <div class="contentholder--bright3">
                <h2>Latest blog post</h2>
                {{ partial "recent-posts" . }}
            </div>
        	<div class="contentholder--bright4">
                <h2>Talk highlight</h2>
                <div class="embed__container">
                    <iframe src="https://www.youtube.com/embed/O43HSNzwV88?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </article>
</div>


{{ partial "footer" . }}
