{{ partial "base" . }}

<div class="wrapper wrapper-nogap">
    {{ partial "sidebar" . }}

    <article class="content">

        <div class="promo">
            <h1 class="test">Labs</h1><br />
            <p class="subtitle">A collection of side projects and tools</p>
        </div>

        <div class="container">
            <div class="card-wrapper">
                <a href="https://natsukashii.art"><div class="card-panel">Natsukashii.art</div></a>
                <a href="https://nihongoipsum.com"><div class="card-panel">Nihongo ipsum</div></a>
                <a href="https://sallylait.com/labs/worldcup2018dinners/"><div class="card-panel">World cup 2018 dinners</div></a>
                <a href="https://sallylait.com/labs/euro2016dinners/"><div class="card-panel">Euro 2016 dinners</div></a>
                <a href="https://sallylait.com/labs/world-cup-dinners/"><div class="card-panel">World cup 2014 dinners</div></a>
                <a href="https://github.com/greywillfade/theworld/"><div class="card-panel">The World</div></a>
            </div> 
        </div><!-- end container -->

    </article>
</div>

{{ partial "footer" . }}
