{{ partial "base" . }}

<div class="wrapper wrapper-nogap">
    {{ partial "sidebar" . }}
    <article class="content">

        <div class="promo" style="background: url('/img/speakingmap.svg') #6BBCB6 no-repeat center; background-size: cover; margin-bottom:2em;">
            <h1>Speaking</h1>
        </div>

        <div class="container">
            {{ .Content }}

            <p>If you'd like to ask me to speak at your event please have a look at my <a href="faq/">speaking FAQ</a> page, or <a href="/contact">get in touch</a>.</p>

            <h2>Organiser testimonials</h2>

            <blockquote>
                “I've had the absolute pleasure of working with Sally on our last two conferences, Render and The Lead Developer. On both occasions she has not only delivered a fantastic talk, but has also gone above and beyond to help us out as conference organisers.

                Her talks have received excellent feedback from our delegates, with top quality content, clear takeaways and an engaging and lively presence on stage.

                Sally has also worked with us as a compere for Render conference. She was fantastic to work with, and helped bring the conference to life between the talks.

                I can only hope that we will have the opportunity to work together again soon!”
                <cite>Jo Lankester, Managing Director, White October Events</cite>
            </blockquote>

            <img src="/img/hosting.jpg" alt="Hosting Render with Ben Foxall" style="margin-top:2em; margin-bottom:2em;" />

            <blockquote style="margin-bottom:3em;">
                “At the Shropgeek (R)Evolution conference, Sally delivered one of the best talks I've seen. And, I've seen a lot of talks. She presented clear, well-thought out ideas in a way that took us with her. She was clear and imaginative, and any conference would be made better by her speaking. So, go and book her. Now – I'll wait.”
                <cite>Zach Beauvais, Shropgeek (R)Evolution</cite>
            </blockquote>

            <h2>Talks</h2>
            <h3>Past, present, and future talk details</h3>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Understanding accessibility: A guide for engineering leaders</p>
                    <p class="textlist--subtitle">I'll be hosting this LeadDev panel, which amongst other things aims to cover nuances around how building inclusive products is not only a smart business decision but also a crucial step toward remedying inequality in the industry. There'll also be practical tips around practices and standards, and measurement.</p>
                    <p class="textlist--date">💻 February 2023</p>
                    <a href="https://leaddev.com/events/understanding-accessibility-guide-engineering-leaders"><button>Panel info</button></a>
                </div>
            
                <div class="contentholder--bgborder">
                    <p class="textlist--header">How can, and how should, technology influence business decisions?</p>
                    <p class="textlist--subtitle">An episode of The Pod Presents: Primarily Context-Based podcast where host Hywel and I have a lengthy chat about the relationship between technology and business decisions.</p>
                    <p class="textlist--date">💻 December 2022</p>
                    <a href="https://open.spotify.com/episode/7tAkINAsBkmX5xpVO9d4eV"><button>Podcast</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">CTO Craft Con 2020: Psychological safety</p>
                    <p class="textlist--subtitle">A fireside chat as part of CTO Craft Con 2020 where I spoke to the lovely Zoe Cunningham. Looking at all things psychological safety, we talked about how to foster a culture where people are allowed to take risks and fail safely without fear or judgement and that by allowing them to do so can reap rewards in terms of engagement, innovation and commercial success.</p>
                    <p class="textlist--date">💻 December 2020</p>
                    <a href="https://vimeo.com/488034723"><button>Video</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Making Better Decisions podcast</p>
                    <p class="textlist--subtitle">A chat with host Joe Leech about making product and technology decisions in a very challenging domain... death! Plus the importance of culture, when your decision making goes wrong, and more.</p>
                    <p class="textlist--date">💻 December 2020</p>
                    <a href="https://mrjoe.uk/s1-e7-sally-lait-from-farewill-and-monzo/"><button>Podcast</button></a>
                </div>
                
                <div class="contentholder--bgborder">
                    <p class="textlist--header">CTO Craft: Hiring and Managing Engineering Teams in a Post-COVID World (panel)</p>
                    <p class="textlist--subtitle">This <a href="https://www.eventbrite.co.uk/e/cto-craft-bytes-hiring-managing-engineering-teams-in-a-post-covid-world-tickets-119105609083">free panel discussion</a> brought to you by CTO Craft will look at hiring and retaining diverse talent, people management and fostering an inclusive culture as we adjust to the new normal.<br />

                    With co-located teams, majority remote working and onboarding issues, we’ll be discussing the impact of Coronavirus, the new challenges around support, building alignment and increasing diversity and inclusivity and finding strategies to help.</p>
                    <p class="textlist--date">💻 September 2020</p>
                    <a href="https://www.crowdcast.io/e/cto-craft-bytes-hiring-and-managing-engineering-teams-in-a-post-covid-world"><button>Video</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">LeadDev Live: hosting the Demo track</p>
                    <p class="textlist--subtitle">Joining a new, online only <a href="https://live.leaddev.com/">LeadDev Live</a> event as a host for one of the three tracks.</p>
                    <p class="textlist--date">💻 August 2020</p>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Mental Health Awareness Week panel</p>
                    <p class="textlist--subtitle">Part of a Monzo panel talking about mental health, with a theme of "kindness".</a></p>
                    <p class="textlist--date">🇬🇧 May 2020</p>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Level-up Engineering podcast: Engineering Culture</p>
                    <p class="textlist--subtitle">Speaking to host Fanni Karolina Tóth from Coding Sans, we discussed engineering culture broadly, as well as talking about some of the specifics at Monzo.</p>
                    <p class="textlist--date">💻 March 2020</p>
                    <a href="https://codingsans.com/blog/engineering-culture-monzo"><button>Podcast</button></a>
                </div>
                
                <div class="contentholder--bgborder">
                    <p class="textlist--header">Making standards work for everyone</p>
                    <p class="textlist--subtitle">A new talk for <a href="https://2019.stateofthebrowser.com">State of the Browser 2019</a>: <i>"You’re at a conference! You’re listening to interesting talks, getting inspired by being around like-minded folks, and preparing to take everything back to work on Monday. You’re going to change the world! Except… it’s not always that easy, is it? In this session we’ll look at standards in the context of practical tips to help take others along on that journey too. Using examples from Sally’s work at Monzo and beyond, we’ll discuss how to empower the people around you, and ultimately how and why we should be making a better web for everyone."</i></p>
                    <p class="textlist--date">🇬🇧 September 2019</p>
                </div>
                
                <div class="contentholder--bgborder">
                    <p class="textlist--header">The Role of Technology in Supporting Social Inclusion</p>
                    <p class="textlist--subtitle">Talk given as part of Monzo's <a href="https://monzo.com/investival/">Investival</a> event: <i>"The technology that we use to create Monzo can also play a key part in our mission to make money work for everyone. In this talk, Sally Lait shares the work our web team are already doing, and what they want to start doing, to make the things we build enjoyable by all."</i></p>
                    <p class="textlist--date">🇬🇧 June 2019</p>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Panel: Secrets of building a great Fintech culture</p>
                    <p class="textlist--subtitle">Panel guest at <a href="https://www.meetup.com/en-AU/FinTech-Women/events/259498100">FinTech Women</a></p>
                    <p class="textlist--date">🇬🇧 March 2019</p>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Tech Lead vs Engineering Manager - What's the difference?</p>
                    <p class="textlist--subtitle">Given at a <a href="https://www.eventbrite.co.uk/e/people-first-engineering-management-how-monzo-does-it-tickets-58075960762">People First Engineering Management: how Monzo does it</a> event, held in the Monzo event space.</p>
                    <p class="textlist--date">🇬🇧 March 2019</p>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Changing the world with the web</p>
                    <p class="textlist--subtitle">Talk given at <a href="http://www.webexpo.net/prague2018">WebExpo 2018</a> in Prague, Czech Republic.</p>
                    <p class="textlist--date">🇨🇿 September 2018</p>
                    <a href="https://www.webexpo.net/prague2018/talk?id=changing-the-world-with-the-web"><button>Video</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">From zero to sustainability: getting developers to help you change the world</p>
                    <p class="textlist--subtitle">
                        From nothing, to a goal of a self-sustaining developer community changing how a whole country interacts with sport & physical activity (and the technology that underpins this). Using a case study I'll share valuable lessons and practical tips for how DevRel can make or break transformation projects. Talk given at <a href="https://tokyo-2018.devrel.net/">DevRelCon Tokyo 2018</a> in Tokyo, Japan.</p>
                    <p class="textlist--date">🇯🇵 July 2018</p>
                    <a href="https://www.youtube.com/watch?v=5fNe1Wun0J8"><button>Video</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Conference MC</p>
                    <p class="textlist--subtitle">Along with Ben Foxall I returned to host <a href="https://2018.render-conf.com/">Render 2018</a> in Oxford, UK.</p>
                    <p class="textlist--date">🇬🇧 March 2018</p>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Websites are a symptom, not the cause</p>
                    <p class="textlist--subtitle">A version of my Render keynote, tweaked to fit into the audience at <a href="https://deveast.uk/">Dev East</a> in Ipswich, UK.</p>
                    <p class="textlist--date">🇬🇧 March 2018</p>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Making the leap from execution to strategy</p>
                    <p class="textlist--subtitle">A talk about my personal journey of moving from day-to-day development into more strategic-focused roles, and what this has meant. Given at <a href="http://2017.theleaddeveloper.com">The Lead Developer</a> conference in London, UK.</p>
                    <p class="textlist--date">🇬🇧 June 2017</p>
                    <a href="https://www.slideshare.net/sallyjenkinson/making-the-leap-from-execution-to-strategy"><button>Slides</button></a>
                    <a href="https://www.youtube.com/watch?v=8vRkH0W77x4&list=PLBzScQzZ83I81fnpqX2AkYD5c5cKgrqc2&index=13"><button>Video</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Websites are a symptom, not the cause</p>
                    <p class="textlist--subtitle">A version of my Render keynote, tweaked to fit into a low-key night of talks on service design and digital transformation. Given at <a href="http://dxnevent.com/">DXN</a> in Nottingham, UK.</p>
                    <p class="textlist--date">🇬🇧 May 2017</p>
                    <a href="https://www.slideshare.net/sallyjenkinson/websites-are-a-symptom-not-the-cause-dxn-may-2017"><button>Slides</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Websites are a symptom, not the cause</p>
                    <p class="textlist--subtitle">Case study-driven closing keynote given at <a href="http://2017.render-conf.com/">Render</a>, Oxford, UK. Using real-world examples this talk aimed to get attendees to think about root causes of problems, and how to identify opportunities and make things better.</p>
                    <p class="textlist--date">🇬🇧 March 2017</p>
                    <a href="https://www.slideshare.net/sallyjenkinson/websites-are-a-symptom-not-the-cause"><button>Slides</button></a>
                    <a href="https://www.youtube.com/watch?v=O43HSNzwV88&amp;t=2s&amp;list=PLBzScQzZ83I_n5kvxmUaRNZvc_vsCuEQD&amp;index=19"><button>Video</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">All these moments will be lost in time: the web, the future, and us</p>
                    <p class="textlist--subtitle">A heavily sci-fi influenced and futuristic talk given at <a href="http://2016.empirejs.org/">EmpireJS</a>, New York, USA, talking about how we make digital projects more sustainable.</p>
                    <p class="textlist--date">🇺🇸 May 2016</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/all-these-moments-will-be-lost-in-time-the-web-the-future-and-us-62468851"><button>Slides</button></a>
                    <a href="https://www.youtube.com/watch?v=E5wpz3ytrBE"><button>Video</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Working with the web and the future</p>
                    <p class="textlist--subtitle">Given at <a href="https://2016.front-trends.com/">Front-Trends</a>, Warsaw, Poland</p>
                    <p class="textlist--date">🇵🇱 May 2016</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/working-with-the-web-and-the-future"><button>Slides</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">All these moments will be lost in time: the web, the future, and us</p>
                    <p class="textlist--subtitle">Given at <a href="http://aceconf.com/">ACE! Conference</a>, Krakow, Poland</p>
                    <p class="textlist--date">🇵🇱 April 2016</p>
                    <a href="hhttp://www.slideshare.net/sallyjenkinson/all-these-moments-will-be-lost-in-time-the-web-the-future-and-us-60918424"><button>Slides</button></a>
                    <a href="https://vimeo.com/163804413"><button>Video</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">An introduction to open data</p>
                    <p class="textlist--subtitle">Given at <a href="http://europe.apps-world.net/">Apps World</a>, London, UK</p>
                    <p class="textlist--date">🇬🇧 November 2015</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/an-introduction-to-open-data-55330201"><button>Slides</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">An introduction to open data</p>
                    <p class="textlist--subtitle">A talk aimed at introducing the concept of open data to those who may not be familiar, and to give them some examples of what it can bring to their work. Given at <a href="https://fronteers.nl/congres/2015">Fronteers</a>, Amsterdam, Netherlands</p>
                    <p class="textlist--date">🇳🇱 October 2015</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/an-introduction-to-open-data-53732088"><button>Slides</button></a>
                    <a href="https://vimeo.com/145242229"><button>Video</button></a>
                    <a href="/blog/2015/10/24/an-introduction-to-open-data/"><button>Article</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">All these moments will be lost in time: the web, the future, and us</p>
                    <p class="textlist--subtitle">Given at <a href="http://2015.shropgeek-revolution.co.uk/">R(E)volution</a>, Shrewsbury, UK</p>
                    <p class="textlist--date">🇬🇧 September 2015</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/all-these-moments-will-be-lost-in-time-the-web-the-future-and-us"><button>Slides</button></a>
                    <a href="/blog/2015/09/26/all-these-moments-will-be-lost-in-time/"><button>Article</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Open data: open your mind</p>
                    <p class="textlist--subtitle">Given at <a href="http://2015.fromthefront.it/">From the Front</a>, Bologna, Italy</p>
                    <p class="textlist--date">🇮🇹 September 2015</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/open-data-open-your-mind"><button>Slides</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">An introduction to open data</p>
                    <p class="textlist--subtitle">Given at <a href="http://www.webinthewoods.co.uk/">Web in the Woods</a>, Kent, UK</p>
                    <p class="textlist--date">🇬🇧 September 2015</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/an-introduction-to-open-data-52726002"><button>Slides</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Choosing the "right" CMS (and other things)</p>
                    <p class="textlist--subtitle">A talk about how to select technology, and the things that you should be thinking about when doing so. Given at <a href="http://www.frontendlondon.co.uk/">Front-end London</a>, London, UK</p>
                    <p class="textlist--date">🇬🇧 May 2015</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/choosing-the-right-cms-and-other-things"><button>Slides</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Choosing the "right" CMS</p>
                    <p class="textlist--subtitle">Talk given at a 'CMS night' at East Digital, Colchester, UK</p>
                    <p class="textlist--date">🇬🇧 April 2015</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/choosing-the-right-cms-46878834"><button>Slides</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">The Web Is our responsibility</p>
                    <p class="textlist--subtitle">Talk given at <a href="http://theweb.is/">The Web Is</a>, Cardiff, Wales</p>
                    <p class="textlist--date">🇬🇧 October 2014</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/the-web-is-our-responsibility"><button>Slides</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">With great power comes great (development) responsibility</p>
                    <p class="textlist--subtitle">Talk about making development choices, and how we need to think more broadly about concepts like accessibility and performance when we think about overall user experience. Given at <a href="http://2014.fromthefront.it/">From the Front</a>, Bologna, Italy</p>
                    <p class="textlist--date">🇮🇹 September 2014</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/with-great-power-comes-great-development-responsibility"><button>Slides</button></a>
                    <a href="http://blog.fromthefront.it/home/with-great-power-comes-great-development-responsibility"><button>Video</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">More Than Media Queries</p>
                    <p class="textlist--subtitle">Given at <a href="http://thedigitalpond.com/">The Digital Pond</a>, London, UK</p>
                    <p class="textlist--date">🇬🇧 August 2014</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/more-than-media-queries-the-digital-pond"><button>Slides</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">More Than Media Queries</p>
                    <p class="textlist--subtitle">Given at <a href="http://responsiveconf.com/">Responsive Day Out 2</a>, Brighton, UK</p>
                    <p class="textlist--date">🇬🇧 July 2014</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/more-than-media-queries-responsive-day-out-2"><button>Slides</button></a>
                    <a href="http://huffduffer.com/adactio/167829"><button>Audio</button></a>
                    <a href="https://huffduffer.com/adactio/167831"><button>Audio</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Mini hacks, big difference</p>
                    <p class="textlist--subtitle"><a href="http://www.ladieswhocode.com/2013/">Ladies Who Code</a>, London, UK</p>
                    <p class="textlist--date">🇬🇧 October 2013</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/mini-hacks-big-difference"><button>Slides</button></a>
                    <a href="http://vimeo.com/82001994"><button>Video</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Frakking effective planning: not just for Cylons</p>
                    <p class="textlist--subtitle"><a href="http://sotr.eu">Scotch on the Rocks</a>, Edinburgh, Scotland</p>
                    <p class="textlist--date">🇬🇧 June 2013</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/frakking-effective-planning-not-just-for-cylons"><button>Slides</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Effective technical strategy and planning for mobile apps</p>
                    <p class="textlist--subtitle"><a href="http://max.adobe.com/">Adobe MAX</a>, Los Angeles, USA</p>
                    <p class="textlist--date">🇺🇸 May 2013</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/effective-technical-strategy-and-planning-for-websites-and-mobile-apps"><button>Slides</button></a>
                    <a href="http://tv.adobe.com/watch/max-2013/effective-technical-strategy-and-planning-for-mobile-apps/"><button>Adobe TV</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">An introduction to the modern web for the creative professional</p>
                    <p class="textlist--subtitle">A talk given on new HTML5 and CSS3 features at the <a href="http://lanyrd.com/2012/create-the-web-london/">Adobe Create the Web tour</a>, London, UK</p>
                    <p class="textlist--date">🇬🇧 October 2012</p>
                    <a href="http://www.slideshare.net/sallyjenkinson/html5-create-the-web-london"><button>Slides</button></a>
                    <a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=LmTo-bDCOU4"><button>Interview</button></a>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Building dynamic mobile applications with ColdFusion</p>
                    <p class="textlist--subtitle"><a href="http://cfugbe.groups.adobe.com/index.cfm?event=post.display&amp;postid=36369">Adobe User Group</a>, Brussels, Belgium</p>
                    <p class="textlist--date">🇧🇪 May 2011</p>
                </div>

                <div class="contentholder--bgborder">
                    <p class="textlist--header">Building dynamic mobile applications with ColdFusion</p>
                    <p class="textlist--subtitle">Adobe User Group, Paris, France</p>
                    <p class="textlist--date">🇫🇷 May 2011</p>
                </div>

        </div>
    </article>
</div>

{{ partial "footer" . }}
